In [1]:
list = ["big data", "metadata", "Bangalore", "data science", 'Teradata']

In [20]:
words = []
for word in list:
    if "data" in word:
        words.append(word)

In [22]:
words

['big data', 'metadata', 'data science', 'Teradata']

In [23]:
list2 = ["bat", "mat", "rat", "cat", "fat"]

In [31]:
x = [word for word in list2 if word.startswith(("b", "r"))]

In [32]:
x

['bat', 'rat']

In [39]:
pattern = "b.t"
x = [word for word in list2 if re.search(pattern, word) is not None]
print(x)

['bat']

In [34]:
import re

In [35]:
pattern = "b.t"
for x in list2:
    if re.search(pattern, x) is not None:
        print(x)

bat

In [40]:
list3 = ["bat", "brat", "bret", "boat", "btat", "boast"]
list4 = ["dat", "tat", "that", "thaat", "4m"]

In [51]:
list3 = ["bat", "brat", "bret", "boat", "btat", "boast", "cat"]
pattern = "b.*t$"
for (i,x) in enumerate(list3):
    if re.match(pattern, x) is not None:
        list3[i] = "bat"

In [52]:
list3

['bat', 'bat', 'bat', 'bat', 'bat', 'bat', 'cat']

In [56]:
list4 = ["dat", "tat", "that", "thaat", "4m"]
pattern = "^[dt].*t$"
for(i,x) in enumerate(list4):
    if re.match(pattern, x) is not None:
        list4[i] = "that"

In [57]:
list4

['that', 'that', 'that', 'that', '4m']

In [66]:
list5 = ["Bangalore123", "Delhi099", "B69ombay"]
list5 = [[x for x in s if x.isalpha()] for s in list5]
["".join(x) for x in list5]

['Bangalore', 'Delhi', 'Bombay']

In [74]:
list6 = ['Bangalore123', 'Delhi099', 'B69ombay']
[re.sub("\d+", "", x) for x in list6]

['Bangalore', 'Delhi', 'Bombay']